<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @match.state %>
</p>

<p>
  <strong>Set1p1:</strong>
  <%= @match.set1p1 %>
</p>

<p>
  <strong>Set1p2:</strong>
  <%= @match.set1p2 %>
</p>

<p>
  <strong>Set2p1:</strong>
  <%= @match.set2p1 %>
</p>

<p>
  <strong>Set2p2:</strong>
  <%= @match.set2p2 %>
</p>

<p>
  <strong>Set3p1:</strong>
  <%= @match.set3p1 %>
</p>

<p>
  <strong>Set3p2:</strong>
  <%= @match.set3p2 %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
